h1 {
    color: blue;
    text-align: center;
}

p {
    color: purple
}

.para-1 {
    background-color: rgb(226, 245, 59);
}

.para-2 {
    background-color: rgb(245, 128, 128);
}

.para-1 span {
    color: red;
    background-color: blue;
}

.para-2 span {
    color: rgb(0, 0, 255);
    background-color: yellow;
}

footer p {
    color: blue;
    background-color: chartreuse;
}

footer .f-1 {
    color: rgb(243, 4, 52);
}

footer .f-2 {
    color: navy;
}